
#basicContents{
	background-color: DarkViolet;
	height: 200px;
	width: 500px;
	font-family: "Arial";
	color:white;
}
#followerContents{
	background-color: DarkOrchid;
	height: 100px;
	width: 250px;
	font-family: "Arial";
	color:white;
}

#follower{
	
}

#avatar{
	float:left;
}

#heading{
	font-family: "Arial";
	color:white;
	height:100px;
	width:500px;
	background-color: Indigo;
}
body{
	background-color: Thistle;
    max-width:70%;
    margin: auto;
	
    background-repeat: no-repeat;
    background-size: cover;
}
.timeline{
	background-color:white;
}

svg rect {
   fill: purple;
}

.arc text {
            font: 12px arial;
            text-anchor: middle;
         }
         
         .arc path {
            stroke: #fff;
         }
        
        .title {
            fill: green;
            font-weight: italic;
         }